.about{
    padding: 20px 0 30px;
    background-color: #3a86ff;
    justify-content: center;
}

.about_button_block{
    margin: 20px 0; 
    display: -webkit-flex; 
    display: flex; 
    flex-direction: row;
} 