.footer{
    background-color: #000;
    color:#fff;
    padding: 30px 0; 
}
.footer_row{
    min-height: 200px;
    padding: 0 10px;
    font-size: 1.5rem;
    display: -webkit-flex; 
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* align-content: stretch; */
    /* flex-grow: 1;*/
} 
.footer_item{ 
    margin: 10px 0;
    padding: 0 10px; 
    min-width: 50%;
    max-width: 100%;
    display: -webkit-flex; 
    display: flex; 
    flex-direction: row;
    /*flex-wrap: wrap;*/  
    /* flex-basis: 260px; */
}
.footer_texts{

}
.footer_header{
    color:#fff;
    font-size: 1.75rem;
    text-decoration: none;
    /* text-align: left; */
    padding: 20px 10px;
    /* margin: auto; */
}
.footer_text{
    margin: 10px 0;
    padding: 0 10px;
}
.footer_buttons{
    margin: 20px 0; 
    display: -webkit-flex; 
    display: flex; 
    flex-direction: row;
}
.footer_button{
    background: #fff;  
    background: rgba(255, 255, 255, 0);
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
}
.footer_button:hover{
    background: rgba(255, 255, 255, 0.2);
}
.footer_button:active{
    background: rgba(255, 255, 255, 0.6);
} 


.footer_other-contacts{
    padding: 20px 10px;
    margin: 40px 10px 10px; 
    font-size: 1.25rem;
    text-decoration: none;
}
a{
    border-bottom: #fff;
    color:inherit;
}
a:hover{
    border-bottom: #3a86ff;
    color:#3a86ff;
}